.webFormTip {
  margin-bottom: 2rem; /* 32px */
  display: block;
}

.webFormTip__title {
  margin-bottom: 1rem; /* 16px */
  font-size: 1rem; /* 16px */
  font-weight: 700;
  color: var(--color-very-dark-cyan);
}

.webFormTip__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; /* 16px */
}

@media screen and (min-width: 375px) {
  .webFormTip__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 968px) {
  .webFormTip__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}