.webDisplayRow {
  margin-bottom: 1.5rem; /* 24px */
  display: block;
}

.webDisplayRow:nth-child(2) {
  margin-bottom: 2rem; /* 32px */
}

.webDisplayRow__column {
  font-weight: 700;
}

.webDisplayRow__label {
  font-size: 1rem; /* 16px */
  color: var(--color-white);
}

.webDisplayRow__labelUnit {
  font-size: 0.875rem; /* 14px */
  color: var(--color-dark-grayish-cyan-alt);
}

.webDisplayRow__value {
  font-size: 2rem; /* 32px */
  font-weight: 700;
  color: var(--color-strong-cyan);
  overflow-wrap: break-word;
}

.webDisplayRow__value--small {
  font-size: 1.5rem;
}

.webDisplayRow__value--verySmall {
  font-size: 1rem;
}

@media screen and (min-width: 375px) {
  .webDisplayRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .webDisplayRow__column {
    flex: none;
    width: 7.25rem; /* 116px */
    padding-right: 1rem; /* 16px */
  }

  .webDisplayRow__value {
    flex: none;
    max-width: calc(100% - 7.25rem); /* 116px */
  }
}

@media screen and (min-width: 968px) {
  .webDisplayRow__value {
    font-size: 3rem; /* 48px */
  }

  .webDisplayRow__value--small {
    font-size: 2rem;
  }

  .webDisplayRow__value--verySmall {
    font-size: 1.5rem;
  }
}